@model MyClass
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div><p>
    This is partial view for myclass: value is @Model.MyProperty</p></div>