@model AspNetCore_10_4.Controllers.TestViewModel

@{
    ViewData["Title"] = "Client side validation example";
}
@section Styles
    {
    @*Highligthjs style for c# code*@
    <link rel="stylesheet" href="~/css/vs.css" />
}
<h2>CreateModel</h2>

<h4>This page Send Post request to Action which takes as argument following model</h4>
<pre><code class="cs">
    public class TestViewModel
    {
        [Required]
        public string Comment { get; set; }
    }
</code></pre>

<h4>Code in corresponding *.cshtml file with help of TagHelpers</h4>
<pre><code class="xml">
    &ltlabel asp-for="Comment">&lt/label>
    &ltinput asp-for="Comment"  />
    &ltspan asp-validation-for="Comment" >&lt/span>

</code></pre>

<h5>Will generate markup</h5>
<pre><code class="xml">
    &ltlabel for="Comment">Comment&lt/label>
    &ltinput  type="text" data-val="true" data-val-required="The Comment field is required." id="Comment" name="Comment" value="">
    &ltspan class="field-validation-valid" data-valmsg-for="Comment" data-valmsg-replace="true">&lt/span>
</code></pre>
<p>
    <span class="hljs-title">On Client Side</span> <br>
    On client side we got two <span class="tech-hglt">JS</span> libraries
    <ul>
        <li>jquery.validate.js - base validation</li>
        <li>jquery.validate.unobtrusive.js - ajax validatioin</li>
    </ul>
    first seek for tags with attributes that starts with <span class="hljs-attr">data-val</span>

    <span class="hljs-title">On Server Side</span> <br>
</p>
<p>If client will not provide <span class="hljs-attr">value</span> then JQVal using its's adapters will mark input as invalid and take value of tag <span class="hljs-attr">data-val-required</span> and print in to &ltspan> tag body</p>
<pre><code class="xml">
    &ltlabel for="Comment">Comment&lt/label>
    &ltinput type="text" class="input-validation-error" data-val="true" data-val-required="The Comment field is required." id="Comment" name="Comment" value="">
    &ltspan class="field-validation-error" data-valmsg-for="Comment" data-valmsg-replace="true">The Comment field is required.&lt/span>
</code></pre>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateModel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comment"></label>
                <input asp-for="Comment" />
                <span asp-validation-for="Comment"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
    {
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script>

        hljs.initHighlightingOnLoad();
    </script>
}
