
@{
    ViewData["Title"] = "Code";
}
<link rel="stylesheet"
      href="~/css/highlight/purple.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<h2>Code</h2>




<pre><code>
    public IActionResult Index()
    {
    return View();
    }
   
</code></pre>


<tr>
    <td></td>
</tr>