@model IEnumerable<string>
@{
    ViewData["Title"] = "GetRedirects";
}

<h2>GetRedirects</h2>
<style>
    iframe {
    width:100%;
    height:300px;
    }

</style>

@foreach(string item in Model)
{<div>
    <h2>Url: @item</h2>
    <iframe src="@item"></iframe>
</div>
}
