@model MessageViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="message">
    <div class="message-body"><p>@Model.Content</p> </div>
    <div class="message-info"><p>by <a>@Model.Author</a> @Model.Created</p></div>
</div>